.home-navigation  {
    background-color: #bdecff;
    height: 100%;
    width: 100%; 
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.home-navigation .weather_module{
    background-color: #71bcdd;
    height: 75%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    border-radius: 20px;
}

.home-navigation .GPT_module{
    background-color: #5ac1ed;
    height: 75%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    border-radius: 20px;
}



